* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.side-menu {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.side-menu-container {
    width: 250px;
    height: 100vh;
    min-height: 500px;
    background-color: blue;
    position: relative;
    transform: translateX(-250px);
    transition: all 0.5s ease-in;
    margin-right: auto;
}
.side-menu-container.active {
    transform: translateX(0);
}

.side-menu-container .btn-side-menu {
    width: 40px;
    height: 40px;
    background-color: blue;
    outline: none;
    border: none;
    position: absolute;
    right: -39px;
}
.btn-side-menu svg {
    width: 40px;
    height: 40px;
    color: #fff;
    transition: all 0.1s ease-in;
}
.btn-side-menu.active svg {
    transform: rotate(45deg);
}
.side-menu-container .side-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.side-menu-container .nav-menu {
    background-color: darkcyan;
    padding: 50px;
}

.side-menu-container .menu-list {
    list-style: none;
    margin: 10px 0;
}

.side-menu-container .menu-item {
    color: #fff;
    text-decoration: none;
}
